.controls {
  margin: 0 auto;
  position: absolute;
  top: 189px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.progress-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  min-height: 45px;
}

.progress-bar {
  position: absolute;
  top: 21px;
  left: 22px;
  height: 4px;
  width: 84%;
  background-color: rgba(255, 255, 255, 0.5);
}

.watched-Line {
  top: 0;
  left: 0;
  height: 4px;
  width: 8px; // сюда передавать данные
  background-color: rgba(255, 255, 255, 0.8);
}

.watched-indicator {
  position: absolute;
  left: 0; // сюда передавать данные
  top: -3px;
  width: 8px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
}

.down-buttons {
  width: 100%;
  height: 66px;
  background-color: white;
  fill: rgb(92, 104, 112);
}

.controls button {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#play-pause {
  position: absolute;
  top: -123px;
  left: 0;
  content: " ";
  width: 100%;
  height: 121px;
  background-repeat: no-repeat;
  background-size: 23%;
  background-position: center;
  transition: opacity 0.2s ease-in-out;
}

#play-pause.play:active {
  background-image: url("../img/sprite/play-button.svg");
  opacity: 0.5;
}

#play-pause.pause:active {
  background-image: url("../img/sprite/pause-button.svg");
  opacity: 0.5;
}

#repeat {
  position: absolute;
  top: 61px;
  left: 21px;
  content: " ";
  width: 25px;
  height: 30px;
  transition: opacity 0.2s ease-in-out;
}

#repeat:hover,
#full-screen:hover,
#cc:hover {
  fill: #333333;
}

#repeat:active,
#full-screen:active,
#cc:active {
  fill: #b8b8b8;
}

#full-screen {
  position: absolute;
  top: 60px;
  right: 15px;
  content: " ";
  width: 35px;
  height: 35px;

  background-repeat: no-repeat;
  background-size: 59%;
  background-position: center;
}

#cc {
  position: absolute;
  top: 59px;
  right: 73px;
  content: " ";
  width: 35px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .controls {
    top: 454px;
    left: 0;
    width: 648px;
  }

  #play-pause {
    top: -405px;
    height: 405px;
  }

  .progress-container {
    width: 100%;
    min-height: 94px;
    position: absolute;
  }

  .progress-bar {
    top: 45px;
    left: 94px;
    height: 3px;
    width: 60%;
  }

  .down-buttons {
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    fill: rgb(255, 255, 255);
  }

  #repeat {
    top: 33px;
    left: 30px;
  }

  #cc {
    top: 31px;
    right: 91px;
  }

  #full-screen {
    top: 31px;
    right: 34px;
  }

  #repeat:hover,
  #full-screen:hover,
  #cc:hover {
    fill: rgba(255, 255, 255, 0.6);
  }

  #repeat:active,
  #full-screen:active,
  #cc:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .controls {
    top: 407px;
    width: 800px;
  }

  .progress-container {
    min-height: 93px;
  }

  #repeat {
    top: 30px;
  }

  #full-screen {
    top: 29px;
    right: 36px;
  }

  #cc {
    top: 29px;
    right: 94px;
  }
}

/* olalala*/
