/* -------------------------------первый синий блок с картинкой*/
.features-list__feature-picture {
  background-color: #81b3d2;
}

.feature-picture {
  color: #ffffff;
  display: flex;
  flex-direction: column;

  &__content-text {
    @include flex-center-center();
    flex-direction: column;
    padding: 39px 15px 40px;
  }

  &__heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
  }

  &__number {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  &__text {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  &__wrapper {
    width: 100%;
    min-height: 260px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    min-height: 260px;
    object-fit: cover;
    margin: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .feature-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .feature-picture__content-text {
    width: 33.3%;
    box-sizing: border-box;
    justify-content: center;
    padding: 38px 46px 40px 44px;
  }

  .feature-picture__heading {
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  .feature-picture__number {
    display: block;
    margin: 0 0 22px 0;
    padding: 0;
  }

  .feature-picture__text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .feature-picture__wrapper {
    flex-grow: 1;
    width: 66.6%;
    min-height: 257px;
    overflow: hidden;
  }

  .feature-picture__image {
    width: 100%;
    min-height: 257px;
    object-fit: cover;
    margin: 0 0;
  }
}


@media (min-width: $desktop-width) {
  .feature-picture__content-text {
    box-sizing: border-box;
    justify-content: center;
    padding: 53px 67px 57px 61px;
  }

  .feature-picture__heading {
    display: block;
    margin: 0 28px 10px;
  }

  .feature-picture__wrapper {
    position: relative;
  }

  .feature-picture__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

/*---------------------------------------------------синий блок №2 */

@media (min-width: $tablet-width) {
  .feature-picture--right-align {
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
  }
}
