/* --------------------------------------------------------------блок фич с иконками*/
.features-list__feature-icons {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  align-items: flex-start;
  padding: 35px 41px 39px 70px;
}

.feature-icons__feature-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}

@media (max-width: $mobile-width-only) {
  .feature-icons__feature-icon:not(:last-child) {
    margin-bottom: 31px;
  }
}


.feature-icon {
  &__heading {
    position: relative;
    margin: 0;
    margin-bottom: 14px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &__heading--house::before {
    position: absolute;
    content: " ";
    width: 39px;
    height: 37px;
    background-image: url("../img/icon-house.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: -49px;
    top: -10px;
  }

  &__heading--food::before {
    position: absolute;
    content: " ";
    width: 39px;
    height: 38px;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: -51px;
    top: -6px;
  }

  &__heading--souvenirs::before {
    position: absolute;
    content: " ";
    width: 39px;
    height: 39px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: -46px;
    top: -12px;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

/* ------------------------------------------таблет*/
@media (min-width: $tablet-width) {
  .features-list__feature-icons {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 157px 0 61px 0;
    margin: 0;
  }

  .feature-icons__feature-icon {
    width: 33.3%;
    margin: 0;
    padding: 0 46px 0 46px;
    display: flex;
    flex-direction: column;
  }

  .feature-icon--house {
    order: 1;
  }

  .feature-icon--food {
    order: 2;
    padding: 0 45px 0 45px;
  }

  .feature-icon--souvenirs {
    order: 3;
  }

  .feature-icon__heading {
    width: 97%;
    margin-bottom: 22px;
    padding: 0;
    text-align: center;
    font-size: 20px;
  }

  .feature-icon__heading--house::before {
    width: 74px;
    height: 72px;
    left: 45px;
    top: -98px;
    background-size: 100%;
  }

  .feature-icon__heading--food::before {
    width: 77px;
    height: 68px;
    left: 43px;
    top: -95px;
  }

  .feature-icon__heading--souvenirs::before {
    width: 64px;
    height: 75px;
    left: 51px;
    top: -102px;
  }

  .feature-icon__text {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 21px;
  }
}

/* ------------------------------------------десктоп*/
@media (min-width: $desktop-width) {
  .features-list__feature-icons {
    padding-top: 158px;
    padding-bottom: 80px;
  }

  .feature-icons__feature-icon {
    padding: 0 60px 0 56px;
  }

  .feature-icon__heading {
    width: 100%;
    margin-bottom: 22px;
  }

  .feature-icon__heading--house::before {
    width: 75px;
    height: 72px;
    left: 105px;
    top: -99px;
  }

  .feature-icon__heading--food::before {
    left: 105px;
    top: -95px;
  }

  .feature-icon__heading--souvenirs::before {
    left: 111px;
    top: -101px;
  }

  .feature-icon__text {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
