.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 36px;
}

.footer__col {
  margin: 0;
  padding: 0;
}


.footer__col:first-child {
  margin-bottom: 34px;
}

.footer__col:nth-child(2) {
  margin-bottom: 21px;
}

// .footer__col:not(:last-child) {
//   margin-bottom: 34px;
// }

.hash-tag__link {
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}

.social__social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 46px;
  height: 49px;
  padding: 0;
  background-color: #81b3d2;
  margin: 3px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: padding-box;

  &--tw {
    background-image: url("../img/sprite/icon-twitter-mobile.svg");
  }

  &--fb {
    background-image: url("../img/sprite/icon-facebook-mobile.svg");
  }

  &--yt {
    background-image: url("../img/sprite/icon-youtube-mobile.svg");
  }
}

.developed {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &__text {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 34px;
    text-align: center;
    display: flex;
  }

  &__link {
    display: block;
    width: 27px;
    height: 34px;
    margin-left: 12px;
    background-image: url("../img/sprite/htmlacademy.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__link:hover {
    background-image: url("../img/sprite/htmlacademy-hover.svg");
  }

  &__link:active {
    background-image: url("../img/sprite/htmlacademy-active.svg");
  }
}


/*-------------------------------таблет  */
@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    padding-top: 34px;
  }

  .footer__col {
    width: 33%;

    @include flex-center-center();
  }

  .developed {
    align-self: baseline;
  }
}
