.page-main__img-wrapper--form {
  min-height: 158px;
  max-height: 158px;
}

.main-img--form {
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .form__review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
