.header {
  display: flex;
  flex-direction: column;
  min-height: 279px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.header__navigation {
  position: relative;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 53px;
    font-size: 14px;
    font-weight: bold;
  }
}


@media (min-width: $desktop-width) {
  .header {
    min-height: 53px;
  }
}
