/* -----------------------------заинтересовались и баттон найти гостинницу*/
.page-main__hotel-search {
  margin: 0;
  padding: 27px 15px 48px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search__content-text {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .page-main__hotel-search {
    padding: 49px 155px 57px 155px;
  }

  .hotel-search__heading {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 36px;
  }

  .hotel-search__content-text {
    min-width: 490px;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 43px;
    margin-right: auto;
    margin-left: auto;
  }

  .button__search {
    width: 49.89%;
    padding: 16px 117px 15px 115px;
  }
}


@media (min-width: $desktop-width) {
  .page-main__hotel-search {
    padding: 53px 374px 67px 374px;
  }

  .hotel-search__content-text {
    margin-right: auto;
    margin-left: auto;
    min-width: 450px;
    margin-bottom: 48px;
  }

  .button--search {
    padding: 15px 115px 18px 115px;
  }
}

.page-main__map-image {
  width: 100%;
  min-height: 350px;
  margin: 0;
}

