/* ---------------------------------заголовок главной страницы*/
/* СЕДОНА — НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ, ЗАСЛУЖИВАЮЩИЙ БОЛЬШЕГО!
РАССМОТРИМ 5 ПРИЧИН, ПО КОТОРЫМ СЕДОНА КРУЧЕ, ЧЕМ ГРАНД КАНЬОН! */

.intro {
  @include flex-center-center();
  flex-direction: column;
  color: rgb(0, 0, 0);
  position: relative;
}

.intro--index {
  padding-top: 38px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: $mobile-width-only) {
  .intro__heading {
    width: 96%;
  }
}

.intro__heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.heading--index {
  margin-bottom: 28px;
}

.intro__content-text {
  width: 96%;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .intro--index {
    padding: 49px 143px 50px 138px;
  }

  .intro__heading {
    font-size: 21px;
    line-height: 26px;
  }

  .intro__content-text {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .intro--index {
    padding: 49px 355px 50px 355px;
  }

  .intro__heading {
    font-size: 22px;
    line-height: 26px;
  }
}

/*-----------------------------------------------------фото-файл */
.intro--photo {
  padding: 40px 20px 27px 20px;
  border-bottom: 1px solid gray;
}

.heading--photo {
  margin-bottom: 26px;
}

.content-text--photo {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .intro--photo {
    padding: 73px 171px 69px 171px;
    border: none;
  }

  .heading--photo {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .intro--photo {
    padding: 108px 388px 72px 384px;
  }
}

/*-----------------------------------------------------форма-файл */

.intro--form {
  padding: 36px 21px 18px 21px;
  border-bottom: 1px solid gray;
}

.heading--form {
  margin-bottom: 25px;
}


.content-text--form {
  line-height: 24px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .intro--form {
    padding: 70px 154px 48px 154px;
    border: none;
  }

  .heading--form {
    font-size: 31px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .intro--form {
    padding: 108px 360px 37px 362px;
    border: none;
  }
}

/*h*/
