/* ---------------------------------заголовок главной страницы*/
/* СЕДОНА — НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ, ЗАСЛУЖИВАЮЩИЙ БОЛЬШЕГО!
РАССМОТРИМ 5 ПРИЧИН, ПО КОТОРЫМ СЕДОНА КРУЧЕ, ЧЕМ ГРАНД КАНЬОН! */

.intro {
  @include flex-center-center();
  flex-direction: column;
  color: rgb(0, 0, 0);
}

.intro--index {
  padding-top: 38px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .intro--index::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 17px 160px;
    border-bottom-color: #81b3d2;
  }

  .intro--index::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 17px 0 0 160px;
    border-left-color: #81b3d2;
  }
}

.intro__heading {
  width: 96%;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.intro__content-text {
  width: 96%;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .intro--index {
    padding: 49px 143px 50px 138px;
  }

  .intro--index::after {
    content: "";
    position: absolute;
    top: -38px;
    right: 0;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 37px 377px;
    border-bottom-color: white;
  }

  .intro--index::before {
    content: "";
    position: absolute;
    top: -38px;
    left: 0;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 37px 0 0 377px;
    border-left-color: white;
  }

  .intro__heading {
    font-size: 21px;
    line-height: 26px;
  }

  .intro__content-text {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .intro--index {
    padding: 134px 355px 56px 355px;
  }
}

/*-----------------------------------------------------фото-файл */
.intro--photo {
  padding: 46px 24px 35px 28px;
  border-bottom: 1px solid gray;
}

@media (min-width: $tablet-width) {
  .intro--photo {
    padding: 77px 171px 78px 171px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .intro--photo {
    padding: 111px 388px 79px 388px;
    border: none;
  }
}

/*-----------------------------------------------------форма-файл */

.intro--form {
  padding: 41px 21px 21px 24px;
  border-bottom: 1px solid gray;
}

@media (min-width: $tablet-width) {
  .intro--form {
    padding: 76px 165px 48px 165px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .intro--form {
    padding: 111px 360px 37px 370px;
    border: none;
  }
}
