/* ---------------------------------заголовок главной страницы*/
/* СЕДОНА — НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ, ЗАСЛУЖИВАЮЩИЙ БОЛЬШЕГО!
РАССМОТРИМ 5 ПРИЧИН, ПО КОТОРЫМ СЕДОНА КРУЧЕ, ЧЕМ ГРАНД КАНЬОН! */

.intro {
  // @include flex-center-center();
  // flex-direction: column;
  color: rgb(0, 0, 0);
  position: relative;
  // max-width: 280px;
}

.intro--index {
  padding-top: 40px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro--photo {
  padding: 40px 20px 27px 20px;
  border-bottom: 1px solid gray;
}

.intro--form {
  padding: 38px 21px 18px 21px;
  border-bottom: 1px solid gray;
}

.intro__heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.heading--index {
  margin: 0 auto 27px;
}

.heading--photo {
  margin: 0 auto 26px;
}

.heading--form {
  margin: 0 auto 25px;
}

.intro__content-text {
  width: 96%;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.content-text--photo {
  line-height: 24px;
}

.content-text--form {
  line-height: 24px;
  width: 100%;
}


@media (max-width: $mobile-width-only) {
  .intro__heading {
    width: 96%;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    max-width: 510px;
  }

  .intro--index {
    padding: 51px 134px 50px 138px;
  }

  .intro--photo {
    padding: 69px 171px 70px 171px;
    border: none;
  }

  .intro--form {
    padding: 68px 154px 48px 154px;
    border: none;
  }

  .intro__heading {
    font-size: 21px;
    line-height: 26px;
  }

  .heading--index {
    margin-bottom: 28px;
  }

  .heading--photo.intro__heading {
    font-size: 30px;
    line-height: 34px;
  }

  .heading--form.intro__heading {
    font-size: 31px;
    line-height: 36px;
  }

  .intro__content-text {
    width: 100%;
  }
}


@media (min-width: $desktop-width) {
  .intro {
    max-width: 510px;
    margin: 0 auto;
  }

  .intro--index {
    padding: 49px 355px 50px 355px;
  }


  .intro--photo {
    padding: 108px 388px 72px 384px;
  }

  .intro--form {
    padding: 108px 360px 37px 362px;
    border: none;
  }

  .intro__heading {
    font-size: 22px;
    line-height: 26px;
  }
}

/*h*/
