/* -------------------------------------------белый угол после интро*/

@media (max-width: $mobile-width-only) {
  .intro--index::after {
    content: "";
    position: absolute;
    bottom: -37px;
    min-height: 37px;
    width: 100%;
    background-image: url("../img/sprite/intro-triangle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }
}
