.main-navigation__list {
  min-height: 223px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  display: block;
  min-height: 56px;
  background-color: #81b3d2;

  @include flex-center-center();
  text-decoration: none;
  color: $white;
  font-size: 16px;
}

// .main-navigation__list__item:not(:first-child) .site-list__link {
//   border-top: 1px solid rgba(red, 0.5);
// }

// .main-navigation__list__item:not(:last-child) .site-list__link {
//   border-top: 1px solid rgba(red, 0.5);
// }

.main-navigation__list__item:nth-last-child(n+3) .site-list__link {
  border-bottom: 1px solid rgba(black, 0.2);
}

.main-navigation__list__item:nth-last-child(2) .site-list__link {
  box-shadow: inset 0 -7px 10px -9px #000000;
}

.main-navigation__list__item--main-link {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 56px;
}

.site-list__link.site-list__link--main {
  border: none;
  background-color: transparent;
}

@media (max-width: $mobile-width-only) {
  .site-list__link.site-list__link--main {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 188px;
  }
}

.main-navigation__toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 57px;
  height: 55px;

  background-color: white;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    min-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .site-list__link {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }

  .main-navigation__list__item:nth-last-child(n+3) .site-list__link,
  .main-navigation__list__item:nth-last-child(2) .site-list__link {
    box-shadow: none;
    border: none;
  }

  .main-navigation__list__item--main-link {
    order: 2;
  }

  .main-navigation__list__item:nth-child(3),
  .main-navigation__list__item:nth-child(4) {
    order: 3;
  }

  .main-navigation__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-navigation__list {
    min-height: 56px;
    display: flex;
    flex-direction: row;
  }
}
