.page-main__map {
  height: 350px;
  width: 100%;
  background-image: url("../img/map@1x@mobile.jpg");
  background-repeat: no-repeat;
  position: relative;

  @media #{$retina} {
    background-image: url("../img/map@2x@mobile.jpg");
    background-size: cover;
  }
}

.page-main__map::after {
  position: absolute;
  top: 159px;
  left: 147px;
  content: " ";
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}


@media (min-width: $tablet-width) {
  .page-main__map {
    background-image: url("../img/map@1x@tablet.jpg");

    @media #{$retina} {
      background-image: url("../img/map@2x@tablet.jpg");
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__map {
    background-image: url("../img/map@1x@desktop.jpg");
    margin-bottom: 2px;

    @media #{$retina} {
      background-image: url("../img/map@2x@desktop.jpg");
      background-size: 1200px auto;
    }
  }
}


.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}
