.header__nav {
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px 20px; // для IE11
  box-sizing: border-box; // для IE11
}

@media (max-width: $mobile-width-only) {
  .nav__list {
    // min-height: 223px;
    display: flex;
    flex-direction: column;
  }

  .nav__item {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    min-height: 56px;
    box-sizing: border-box;
    background-color: #81b3d2;
    padding: 0;
    color: $white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  /*тени и бордеры навигации */

  /*тень у последнего пункта меню */
  .nav__list :last-child .nav__link {
    box-shadow: inset 0 -7px 10px -9px black;
  }

  /*белый бордер сверху у всех пунктов, кроме первого */
  .nav__list :not(:first-child) .nav__link {
    border-top: 1px solid rgba(white, 0.2);
  }

  /*серый бордер снизу у всех пунктов, кроме последнего */
  .nav__list :not(:last-child) .nav__link {
    border-bottom: 1px solid rgba(grey, 0.2);
  }

  /*меню на ховере и активе */
  .nav__link:hover {
    background-color: #669ec0;
    color: #f7fafc;
  }

  .nav__link:active {
    background-color: #5496bd;
    color: #88b6d1;
  }
}

/*---------------------------------------------------таблет */

@media (min-width: $tablet-width) {
  .nav__list {
    min-height: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; //space-around
  }

  .nav__link {
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .nav__link:hover {
    color: #81b3d2;
  }

  .nav__link:active {
    color: #c7c7c7;
  }

  .nav__link.current-page {
    color: #766357;
  }

  .nav__link.current-page:hover {
    color: #604e43;
  }

  .nav__link.current-page:active {
    color: #d6d0cc;
  }

  .nav__item {
    width: 166px;
  }

  /* положение элементов навигации */
  .nav__list li:nth-child(2) {
    margin-right: 158px;
  }
}

/*---------------------------------------------------десктоп */

@media (min-width: $desktop-width) {
  .nav__link {
    min-height: 56px;
  }

  // .nav__link--form {
  //   min-height: 56px;
  // }

  .nav__item {
    width: 254px;
  }

  .nav__list li:nth-child(2) {
    margin-right: 246px;
  }

  // .nav__link--photos {
  //   min-height: 56px;
  // }
}
