
/* ---------------------------------рассмотрим 5 причин по которым Седона круче чем Гранд Каньон*/
.page-main__content-text {
  color: #333333;
}

.page-main__content-text-top {
  margin: 33px 26px 41px;
}

@media (min-width: $tablet-width) {
  .page-main__content-text {
    // display: block;
    // min-width: 490px;
  }

  .page-main__content-text-top {
    margin: 0 120px 50px 120px;
  }
}

