/*псевдоэлемент уголок под картинкой */

.img-top--index,
.img-top--photo,
.img-top--form {
  position: relative;
}

.img-top--index::after,
.img-top--photo::after,
.img-top--form::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
}

.img-top--index::before,
.img-top--photo::before,
.img-top--form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
}

@media (max-width: $mobile-width-only) {

  /* общие стили псевдоэлементов*/
  .img-top--index::after,
  .img-top--photo::after,
  .img-top--form::after {
    border-bottom-color: white;
  }

  .img-top--index::before,
  .img-top--photo::before,
  .img-top--form::before {
    border-left-color: white;
  }

  /* стили только для индекса */
  .img-top--index::after {
    border-width: 0 0 28px 171px;
  }

  .img-top--index::before {
    border-width: 28px 0 0 171px;
  }

  /* стили только для фото-страницы */
  .img-top--photo::after {
    border-width: 0 0 25px 160px;
  }

  .img-top--photo::before {
    border-width: 25px 0 0 160px;
  }

  /* стили только для форма-страницы */
  .img-top--form::after {
    border-width: 0 0 28px 171px;
  }

  .img-top--form::before {
    border-width: 28px 0 0 171px;
  }
}

@media (min-width: $tablet-width) {

  /*общие стили псевдоэлементов */
  .img-top--index::after,
  .img-top--photo::after,
  .img-top--form::after {
    right: 33px;
    border-bottom-color: white;
  }

  .img-top--index::before,
  .img-top--photo::before,
  .img-top--form::before {
    left: 33px;
    border-left-color: white;
  }

  /* стили для индекса */
  .img-top--index::after {
    border-width: 0 0 59px 345px;
  }

  .img-top--index::before {
    border-width: 59px 0 0 345px;
  }

  /* стили для фото-страницы */
  .img-top--photo::after {
    border-width: 0 0 56px 345px;
  }

  .img-top--photo::before {
    border-width: 56px 0 0 345px;
  }

  /* стили для форма */
  .img-top--form::after {
    border-width: 0 0 56px 345px;
  }

  .img-top--form::before {
    border-width: 56px 0 0 345px;
  }
}

/* стили для десктопа: индекс и фото */
@media (min-width: $desktop-width) {
  .img-top--index::before,
  .img-top--photo::before,
  .img-top--form::before {
    left: 249px;
    border-width: 57px 0 0 344px;
  }

  .img-top--index::after,
  .img-top--photo::after,
  .img-top--form::after {
    right: 249px;
    border-width: 0 0 57px 344px;
  }
}
