/*-------------------------------------Картинка с каньоном на главной странице */


.page-main__img-top {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;

  @media #{$retina} {
    background-image: url("../img/back@2x@mobile.jpg");
    background-size: cover;
  }
}

.img-top--index {
  padding-top: 88px;
  padding-bottom: 87px;
}

.img-top--index__svg {
  width: 280px;
  height: 214px;
}

@media (min-width: $tablet-width) {
  .page-main__img-top {
    background-image: url("../img/back@1x@tablet.jpg");

    @media #{$retina} {
      background-image: url("../img/back@2x@tablet.jpg");
      background-size: 768px auto;
    }
  }

  .img-top--index {
    padding-top: 77px;
    padding-bottom: 92px;
  }

  .img-top--index__svg {
    width: 460px;
    height: 350px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .page-main__img-top {
    background-image: url("../img/back@1x@desktop.jpg");

    @media #{$retina} {
      background-image: url("../img/back@2x@desktop.jpg");
      background-size: 1200px auto;
    }
  }

  .img-top--index {
    padding-top: 80px;
    padding-bottom: 91px;
    background-position-x: left;
    background-position-y: bottom;
  }
}

/*-------------------------------------Фото-файл */
.img-top--photo {
  padding-top: 49px;
  padding-bottom: 67px;
  background-position-y: -231px;
}

.img-top--photo__svg {
  width: 229px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .img-top--photo {
    padding-top: 94px;
    padding-bottom: 117px;
  }

  .img-top--photo__svg {
    width: 458px;
    height: 78px;
  }
}

@media (min-width: $desktop-width) {
  .img-top--photo {
    padding-top: 101px;
    padding-bottom: 120px;
    background-position-x: 0;
    background-position-y: -217px;
  }

  .img-top--photo__svg {
    width: 461px;
    height: 80px;
  }

  .img-top--photo::before {
    left: 250px;
    border-left-color: white;
  }
}

/*-------------------------------------Форма-файл */
.img-top--form {
  padding-top: 51px;
  padding-bottom: 69px;
  background-position-y: -231px;
}

.img-top--form__svg {
  width: 229px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .img-top--form {
    padding-top: 97px;
    padding-bottom: 117px;
  }

  .img-top--form__svg {
    width: 458px;
    height: 78px;
  }
}

@media (min-width: $desktop-width) {
  .img-top--form {
    padding-top: 101px;
    padding-bottom: 119px;
    background-position-x: 0;
    background-position-y: -207px;
  }

  .img-top--form__svg {
    width: 461px;
    height: 80px;
  }
}

/*псевдоэлемент уголок под картинкой */

.img-top--index,
.img-top--photo,
.img-top--form {
  position: relative;
}

.img-top--index::after,
.img-top--photo::after,
.img-top--form::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
}

.img-top--index::before,
.img-top--photo::before,
.img-top--form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
}

@media (max-width: $mobile-width-only) {

  /* общие стили псевдоэлементов*/
  .img-top--index::after,
  .img-top--photo::after,
  .img-top--form::after {
    border-bottom-color: white;
  }

  .img-top--index::before,
  .img-top--photo::before,
  .img-top--form::before {
    border-left-color: white;
  }

  /* стили только для индекса */
  .img-top--index::after {
    border-width: 0 0 28px 171px;
  }

  .img-top--index::before {
    border-width: 28px 0 0 171px;
  }

  /* стили только для фото-страницы */
  .img-top--photo::after {
    border-width: 0 0 25px 160px;
  }

  .img-top--photo::before {
    border-width: 25px 0 0 160px;
  }

  /* стили только для форма-страницы */
  .img-top--form::after {
    border-width: 0 0 28px 171px;
  }

  .img-top--form::before {
    border-width: 28px 0 0 171px;
  }
}

@media (min-width: $tablet-width) {

  /*общие стили псевдоэлементов */
  .img-top--index::after,
  .img-top--photo::after {
    right: 33px;
    border-bottom-color: white;
  }

  .img-top--index::before,
  .img-top--photo::before {
    left: 33px;
    border-left-color: white;
  }

  /* стили только для индекса */
  .img-top--index::after {
    border-width: 0 0 59px 345px;
  }

  .img-top--index::before {
    border-width: 59px 0 0 345px;
  }

  /* стили только для фото-страницы */
  .img-top--photo::after {
    border-width: 0 0 56px 345px;
  }


  .img-top--photo::before {
    border-width: 56px 0 0 345px;
  }
}

/* стили для десктопа: индекс и фото */
@media (min-width: $desktop-width) {
  .img-top--index::before,
  .img-top--photo::before {
    left: 249px;
    border-width: 57px 0 0 344px;
  }

  .img-top--index::after,
  .img-top--photo::after {
    right: 249px;
    border-width: 0 0 57px 344px;
  }
}
