/* -----------------------------заинтересовались и баттон найти гостинницу*/
.page-main__hotel-search {
  margin: 0;
  padding: 27px 15px 48px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__heading--search {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search__content-text {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.button {
  width: 96%;
  margin: 0;
  // padding: 15px 44px 18px 38px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-main__hotel-search {
    padding: 57px 155px 57px 155px;
  }

  .page-main__heading--search {
    margin-bottom: 29px;
    font-size: 30px;
  }

  .hotel-search__content-text {
    @include table-text();
    margin-bottom: 46px;
  }

  .button {
    padding: 15px 115px 18px 115px;
    line-height: 1.2;
  }
}


@media (min-width: $desktop-width) {
  .page-main__hotel-search {
    padding: 48px 374px 67px 374px;
  }

  .hotel-search__content-text {
    margin-bottom: 50px;
  }

  .button {
    padding: 15px 115px 18px 115px;
  }
}

.page-main__map-image {
  width: 100%;
  min-height: 350px;
  margin: 0;
}

