.photo-block {
  box-sizing: border-box;
  width: 100%;
  min-height: 413px;
  padding: 22px 20px 19px 20px;
  margin: 0;
}


@media (max-width: $mobile-width-only) {
  .photo-block {
    border-bottom: 1px solid rgba(grey, 0.5);
  }
}

.photo-wrapper {
  min-height: 280px;
  max-width: 280px;
  margin: 0;
  overflow-y: hidden;
}

.photo-block__img {
  width: 100%;
  max-width: none;
}


.photo-block__additional {
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.additional__wrapper {
  padding: 0;
  margin: 0;
}

.additional__photo-title {
  display: block;
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.additional__photo-author {
  display: block;
  margin: 0 0 16px 0;
  padding: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
}

.additional__photo-likes {
  display: block;
  position: relative;
  margin: 0 0 0 36px;
  padding: 0;

  @include photo-heading1-mobile();
}


.additional__photo-likes::before {
  position: absolute;
  content: " ";
  background-image: url("../img/sprite/like-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 21px;
  left: -37px;
  top: -6px;
}

@media (min-width: $tablet-width) {
  .photo-block {
    width: 50%;
    min-height: 343px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .photo-wrapper {
    max-height: 269px;
    min-height: 269px;
    max-width: 100%;
  }

  .photo-block--bright {
    flex-grow: 2;
    min-height: 476px;
    width: 100%;
    overflow-y: hidden;
  }

  .photo-wrapper--bright {
    max-height: 400px;
  }

  .photo-block__additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding-top: 17px;
  }

  .additional__wrapper {
    margin: 0;
    margin-left: 21px;
    padding: 0;
  }

  .additional__photo-author {
    margin-bottom: 20px;
  }

  .additional__photo-likes {
    margin: 13px 21px 0 0; // спросить у Ксении, как выровнять его по другому, тк через align-self ничего не выравнивается
  }

  .additional__photo-likes::before {
    left: -30px;
    top: -2px;
  }

  .video__video {
    max-height: 268px;
  }

  /* выравние лайков, не знаю как сделать это правильно*/
  .photo-block:nth-child(2) .photo-block__additional .additional__photo-likes {
    margin-right: 30px;
  }

  .photo-block:nth-child(3) .photo-block__additional .additional__photo-likes {
    margin-right: 37px;
  }

  /* выравние "Мост дьявола"по макету, тк походу оно расходится со стандартом*/
  .photo-block:nth-child(4) .photo-block__additional {
    padding-top: 15px;
  }

  .photo-block:nth-child(4) .photo-block__additional .additional__photo-likes {
    margin-right: 30px;
  }
}


@media (min-width: $desktop-width) {
  .photos-gallery {
    padding: 0;
  }

  .photo-block {
    position: relative;
    min-height: 267px;
    width: 33.3333%;
  }

  .photo-block--bright {
    width: 100%;
    min-height: 402px;
  }

  .photo-block__additional {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 79px;
    color: white;
    background-color: rgba(black, 0.5);
  }
}
