.review {
  border-bottom: 1px solid rgba(grey, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px 20px 24px 20px;
}

.review__heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.review__input,
.review__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  font-weight: 700;
}

.review__input {
  box-sizing: border-box;
  padding: 20px 10px 20px 20px;
  border: none;
  background-color: #f2f2f2;
}


.name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name__row:not(:last-child),
.contact-info__row:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.name-wrapper input {
  width: 100%;
  margin-left: 14px;
}

/* контактные данные */
.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info-wrapper .review__label {
  margin-bottom: 14px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.review__contact-info input,
.review__contact-info input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  font-weight: 700;
}

.review__input-phone,
.review__input-email {
  width: 100%;
  padding: 20px 70px 20px 20px;
}

.contact-info__icon {
  box-sizing: border-box;
  min-width: 58px;
  min-height: 58px;
  margin: 0;
  // padding: 20px;
  background-color: #e6e6e6;

  background-repeat: no-repeat;
  background-position: center;
  // white-space: nowrap;
  // text-align: center;
  // vertical-align: bottom;
}

.phone-icon {
  background-image: url("../img/phone.svg");
}

.mail-icon {
  background-image: url("../img/mail.svg");
}

/* Ваше общее впечатление */
.impression__row {
  width: 100%;
  margin-bottom: 13px;
}

.impression__heading {
  margin-bottom: 24px;
}

.impression-input {
  display: none;
}

/* стилизация радио баттон */
.label--impression {
  display: block;
  // margin-bottom: 13px;
  font-size: 18px;
  line-height: 56px;
  /* задает высоту строки где лежит кастомный радио-баттн*/
  padding-left: 70px;
  text-transform: none;
  font-weight: 700;
  /* место под псевдоэлемент */
  position: relative;
}

.impression__row:last-child {
  margin-bottom: 4px;
}


.label--impression::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 56px;
  width: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  /*плавная смена фон картинки*/
}

.impression-input:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  display: block;
  height: 22px;
  width: 22px;
  background-color: #333333;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

/* стилизация радио-баттон на ховере и нажатии */
.label--impression:hover::before {
  background-color: #e5e5e5;
}

.label--impression:active::before {
  background-color: #d5d5d5;
}

.label--impression:active::after {
  background-color: #a4a4a4;
}

@media (min-width: $tablet-width) {
  .review__name {
    order: 2;
  }

  .review__contact-ifo {
    order: 3;
  }

  .review__impression {
    order: 1;
  }

  .review__visitedPlaces {
    order: 4;
  }

  .review__description {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .review__contact-ifo {
    flex-grow: 2;
    width: 100%;
  }

  .review__visitedPlaces {
    flex-grow: 2;
    width: 100%;
  }

  .review__description {
    flex-grow: 2;
    width: 100%;
  }
}
