.page-main__img-wrapper--form {
  min-height: 158px;
  max-height: 158px;
}

.main-img--form {
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .form__review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width-only) {
  .review__additional {
    @include vh();
  }
}


.review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 18px 20px 26px 20px;
}

@media (max-width: $mobile-width-only) {
  .review:not(:last-child):not(:nth-last-child(2)) {
    border-bottom: 1px solid rgba(grey, 0.5);
  }
}

.review__heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.review__label {
  font-size: 14px;
  line-height: 20px;
}

.review__input,
.review__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
}

.review__input {
  padding: 17px 18px 17px 21px;
  border: none;
  background-color: #f2f2f2;
  resize: none;
}

.review__input:hover {
  background-color: #e5e5e5;
  outline: none;
}

.review__input:active {
  background-color: white;
  border: 4px solid #e5e5e5;
  outline: none;
  padding: 16px 6px 16px 16px;
}

/* ПРЕДСТАВЬТЕСЬ*/

.name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name__row:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.label--name {
  margin-top: 5px;
}

.name-wrapper input {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  margin-left: 14px;
}

.name__row:nth-child(4) input {
  margin-left: 17px;
}

/* КОНТАКТНАЯ ИНФОРМАЦИЯ */
.review__contact-info {
  padding: 18px 20px 28px 20px;
}

.contact-info__row:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.contact-info__heading {
  text-align: center;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info-wrapper .review__label {
  margin-top: 3px;
  margin-left: 22px;
  margin-bottom: 10px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.review__contact-info input,
.review__contact-info input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  font-weight: 700;
  height: 58px;
  box-sizing: border-box;
}

.review__input-phone,
.review__input-email {
  width: 100%;
  padding: 18px 18px 21px 22px;
}

.contact-info__icon {
  box-sizing: border-box;
  min-width: 58px;
  min-height: 58px;
  margin: 0;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.phone-icon {
  background-image: url("../img/phone.svg");
}

.mail-icon {
  background-image: url("../img/mail.svg");
}

/* Ваше общее впечатление */
.impression__row {
  width: 100%;
}

.impression__row:not(:last-child) {
  margin-bottom: 13px;
}

.impression__heading {
  margin-bottom: 24px;
}

.impression-input {
  display: none;
}

/* стилизация радио баттон */
.label--impression {
  display: block;
  font-size: 18px;
  box-sizing: border-box;
  height: 56px;
  padding-top: 16px;
  padding-left: 79px;
  text-transform: none;
  font-weight: 700;
  position: relative;
}


.label--impression::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 56px;
  width: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  /*плавная смена фон картинки*/
}

.impression-input:checked+label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 17px;
  display: block;
  height: 22px;
  width: 22px;
  background-color: #333333;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

/* стилизация радио-баттон на ховере и нажатии */
.label--impression:hover::before {
  background-color: #e5e5e5;
}

.label--impression:active::before {
  background-color: #d5d5d5;
}

.label--impression:active::after {
  background-color: #a4a4a4;
}

/* Посещенные достопримечательности:*/

.visitedPlaces__heading {
  margin-bottom: 17px;
  text-align: center;
}

.visitedPlaces__input {
  display: none;
}

.visitedPlaces__label {
  display: block;
  font-size: 18px;
  height: 56px;
  box-sizing: border-box;
  padding-left: 79px;
  padding-top: 17px;
  position: relative;
  text-transform: none;
  font-weight: 700;
}

.visitedPlaces__label:not(:last-child) {
  margin-bottom: 24px;
}

.visitedPlaces__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 56px;
  width: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  transition: background-image 200ms ease-in;
}

.visitedPlaces__input:checked+label::before {
  background-image: url("../img/checked.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/* стилизация радио-баттон на ховере и нажатии */
.visitedPlaces__label:hover::before {
  background-color: #e5e5e5;
}

.visitedPlaces__label:active::before {
  background-color: #d5d5d5;
  background-image: url("../img/checked-active.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/* Опишите свои эмоции*/

.description__heading {
  margin-bottom: 16px;
  text-align: center;
}

.description__textarea {
  box-sizing: border-box;
  max-width: 280px;
  min-height: 160px;
  // margin-bottom: 52px;
  padding: 16px 20px 16px 20px;
  resize: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.description__textarea:hover {
  background-color: #e5e5e5;
}

.description__textarea:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  padding: 16px;
  outline: none;
}

.rewiew__button-container {
  padding-top: 25px;
}

.review__button {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px 16px 20px;
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .form__review {
    padding: 0 60px;
  }

  .review {
    padding: 0;
  }

  .review__name {
    order: 2;
    width: 50%;
    margin-bottom: 68px;
  }

  .review__contact-info {
    order: 3;
    width: 100%;
    flex-grow: 2;
    margin-bottom: 57px;
  }

  .contact-info__heading {
    position: relative;
  }

  .contact-info__heading::before {
    left: 0;
  }

  .contact-info__heading::after {
    right: 0;
  }

  .review__impression {
    order: 1;
    width: 50%;
    margin-bottom: 68px;
  }

  .review__visitedPlaces {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .visitedPlaces__heading {
    width: 100%;
    padding: 0 170px;
    position: relative;
  }

  .review__heading--lines::before,
  .review__heading--lines::after {
    content: "";
    position: absolute;
    top: 26px;
    display: block;
    width: 16.4%;
    height: 1px;
    box-sizing: border-box;
    border-bottom: 1px solid #dbdbdb;
  }

  .visitedPlaces__heading::before {
    left: 0;
  }

  .visitedPlaces__heading::after {
    right: 0;
  }

  .visitedPlaces__label {
    width: 30%;
  }

  .review__description {
    order: 5;
    width: 100%;
  }

  .description__heading {
    position: relative;
  }

  .description__heading::before {
    left: 0;
  }

  .description__heading::after {
    right: 0;
  }

  .description__textarea {
    max-width: 100%;
  }

  .review__button {
    order: 6;
  }

  .review__additional {
    order: 7;
  }
}

@media (min-width: $desktop-width) {
  .form__review {
    padding: 0 120px;
  }

  .review__contact-info {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    // padding: 18px 20px 24px 20px;
  }

  .contact-info__heading {
    width: 100%;
  }

  .contact-info-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .contact-info-wrapper:nth-child(even) {
    box-sizing: border-box;
    padding-right: 80px;
  }

  .contact-info__vh {
    @include vh();
  }

  .label--email {
    margin-right: 18px;
  }

  .label--phone {
    margin-right: 16px;
  }

  .review__visitedPlaces {
    flex-grow: 2;
    width: 100%;
    justify-content: space-between;
  }

  .visitedPlaces__heading {
    padding: 0 280px;
  }

  .visitedPlaces__label {
    box-sizing: border-box;
    width: 25%;
  }

  .review__description {
    flex-grow: 2;
    width: 100%;
  }

  .review__name {
    width: 50%;
    padding-left: 80px;
    box-sizing: border-box;
  }

  .review__impression {
    position: relative;
    width: 50%;
  }

  .review__impression::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
  }
}
