.video {
  // min-height: 460px;
  margin: 0;
  padding: 32px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading--video {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 45px 0 50px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  // width: 67%;
}


.content-text--video {
  min-width: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 40px 0 41px;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
}

.video__video {
  min-height: 268px;
}

.video__container {
  position: relative;
}

@media (min-width: $tablet-width) {
  .video {
    margin: 0;
    padding: 66px 60px 0 60px;
  }

  .heading--video {
    margin: 0 0 31px 0;
    padding: 0;
    font-size: 30px;
  }


  .content-text--video {
    display: block;
    min-width: 437px;
    margin: 0 0 24px 0;
    padding: 0 109px 0 107px;
    font-size: 14px;
    line-height: 25px;
  }

  .video__video {
    width: 647px;
    min-height: 500px;
    margin-bottom: 82px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    min-height: 748px;
    padding: 61px 200px 0 200px;
  }

  .content-text--video {
    min-width: 455px;
    padding: 0 184px 0 184px;
    margin-bottom: 71px;
  }

  .video__video {
    width: 800px;
    height: 500px;
  }
}
