
.video {
  // min-height: 460px;
  margin: 0;
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading--video {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @include photo-heading2-mobile();
}


.content-text--video {
  min-width: none;
  box-sizing: border-box;
  padding: 0 34px 0 34px;
  font-size: 14px;
  line-height: 1.65;
}

.video__video {
  min-height: 268px;
}

@media (min-width: $tablet-width) {
  .video {
    // min-height: 746px;
    margin: 0;
    padding: 71px 60px 0 60px;
  }

  .heading--video {
    margin: 0 0 34px 0;
    padding: 0;
    font-size: 30px;
  }


  .content-text--video {
    display: block;
    min-width: 437px;
    margin: 0 0 26px 0;
    padding: 0 109px 0 107px;
    font-size: 14px;
    line-height: 1.65;
  }

  .video__video {
    width: 647px;
    min-height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    min-height: 748px;
    padding: 61px 200px 0 200px;
  }

  .content-text--video {
    min-width: 455px;
    padding: 0 184px 0 184px;
    margin-bottom: 71px;
  }

  .video__video {
    width: 800px;
    height: 500px;
  }
}
