.page-main__img-wrapper--form {
  min-height: 158px;
  max-height: 158px;
}

.main-img--form {
  max-width: 100%;
}
/*
max-height: 160px;
    min-height: 160px;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
*/
