body {
  margin: 0 auto;
  padding: 0;
  background-color: $light-grey;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.main-wrapper {
  min-width: 320px;
  max-width: 1200px;
  background-color: $white;
  margin: 0 auto;
  padding: 0;
  box-shadow: 1px 0 18px 1px rgba(0, 0, 0, 0.75);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .main-wrapper {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper {
    min-width: $desktop-width;
  }
}


.none {
  display: none;
}
