/*-------------------------------------Картинка с каньоном на главной странице */
.page-main__img-wrapper {
  position: relative;
  min-height: 390px;
  max-width: 100%;
  margin: 0 0 40px 0;
  background-image: url("../img/text-index-mobile.png");
  background-size: 100%;
  background-position: center center;
  z-index: 5;

  .page-main__img {
    max-width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .page-main__img-wrapper {
    min-height: 520px;
    margin: 0 0 50px 0;
    overflow-y: hidden;
  }

  .page-main__img {
    background-position: -20px -10px;
    position: absolute;
    width: 100%;
    max-width: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__img-wrapper {
    min-height: 519px;
    overflow-y: hidden;
  }
}

.page-main__img {
  min-height: 390px;
  background-size: 100%;
}

/* ---------------------------------заголовок главной страницы*/
.page-main__heading {
  display: block;

  @include heading_Text();
  color: rgb(0, 0, 0);
}

.page-main__heading--top {
  max-width: 260px;
  margin: 0 30px 0 30px;
}

@media (min-width: $tablet-width) {
  .page-main__heading {
    display: block;
    padding: 2px;
    font-size: 21px;
    line-height: 1.238;
  }

  .page-main__heading--top {
    max-width: 490px;
    margin: 0 136px 27px 136px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__heading {
    min-width: 490px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

/* ---------------------------------рассмотрим 5 причин по которым Седона круче чем Гранд Каньон*/
.page-main__content-text {
  display: block;
  color: #333333;

  @include content_Text();
}

.page-main__content-text-top {
  margin: 33px 26px 41px;
}

@media (min-width: $tablet-width) {
  .page-main__content-text {
    display: block;
    min-width: 490px;
  }

  .page-main__content-text-top {
    margin: 0 120px 50px 120px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__content-text {
    min-width: 490px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: rgb(0, 0, 0);
  }
}

/* -------------------------------первый синий блок с картинкой*/
.feature-picture {
  color: #ffffff;
  padding: 0;

  &__content-text {
    padding: 40px 20px 40px 20px;
  }

  &__heading {
    display: block;
    margin: 0 30px 3px 30px;
    padding: 2px;

    @include heading_Text();
  }

  &__number {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 2px;

    @include primary_Text();
  }

  &__text {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1px;

    @include primary_Text();
  }

  &__wrapper {
    min-height: 260px;
    margin-bottom: 0;
  }

  &__image {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .feature-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .feature-picture__content-text {
    max-width: 257px;
    box-sizing: border-box;
    justify-content: center;
    padding: 45px 46px 40px 44px;
  }

  .feature-picture__heading {
    display: block;
    margin: 0 0 10px 0;
    padding: 0 10px 0 7px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.238;
  }

  .feature-picture__number {
    display: block;
    margin: 0 0 22px 0;
    padding: 0;
  }

  .feature-picture__text {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .feature-picture__wrapper {
    position: relative;
    flex-grow: 1;
    overflow-y: hidden;
    min-height: 257px;
  }

  .feature-picture__image {
    position: absolute;
    width: 100%;
    max-width: none;
  }
}


@media (min-width: $desktop-width) {
  .feature-picture__content-text {
    max-width: 33.333%;
    box-sizing: border-box;
    justify-content: center;
    padding: 53px 67px 57px 61px;
  }

  .feature-picture__heading {
    display: block;
    margin: 0 28px 10px;
  }
}

/* --------------------------------------------------------------блок фич с иконками*/
.features-list__feature-icons {
  padding: 8px 37px 36px 68px;
}

.feature-icons__feature-icon {
  margin: 0;
  padding: 25px 0 0 0;
}

.feature-icon {
  &__heading {
    position: relative;
    margin: 0;
    margin-bottom: 11px;
    padding: 2px;

    @include heading_Text();
    text-align: left;
  }

  &__heading--house::before {
    position: absolute;
    content: url("../img/icon-house.svg");
    background-size: contain;
    width: 39px;
    height: 37px;
    left: -6px;
    top: -13px;
  }

  &__heading--food::before {
    position: absolute;
    content: url("../img/icon-burger.svg");
    background-size: contain;
    width: 39px;
    height: 38px;
    left: -6px;
    top: -13px;
  }

  &__heading--souvenirs::before {
    position: absolute;
    content: url("../img/icon-gift.svg");
    background-size: contain;
    width: 39px;
    height: 35px;
    left: -6px;
    top: -13px;
  }

  &__text {
    margin: 0;
    padding: 0;

    @include primary_Text();
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .features-list__feature-icons {
    display: flex;
    flex-direction: row;
    min-height: 330px;
    padding: 0;
    margin: 0;
  }

  .feature-icon--house {
    order: 1;
  }

  .feature-icon--food {
    order: 2;
  }

  .feature-icon--souvenirs {
    order: 3;
  }

  .feature-icons__feature-icon {
    margin: 0;
    padding: 157px 38px 60px 38px;
  }

  .feature-icon__heading {
    margin-bottom: 21px;
    padding: 0;
    text-align: center;

    @include table-heading1();
  }

  .feature-icon__text {
    padding: 0;
    text-align: center;

    @include table-text();
  }
}

/*---------------------------------------------------синий блок №2 */


@media (min-width: $tablet-width) {
  .feature-picture--right-align {
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
  }
}

/*--------------------------------------------------- блок фич с цифрами */
.feature-numbers {
  background-color: #eeeeee;
}

.feature-numbers__feature-number {
  margin: 0;
  padding: 24px 35px 15px 30px;
}

.feature-number__heading {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  padding: 1px;

  @include heading_Text();
}

.feature-number__number {
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;

  @include primary_Text();
}

.feature-number__text {
  @include primary_Text();
  margin-right: auto;
  margin-left: auto;
  padding: 1px;
  line-height: 1.5;
}

@media (min-width: $tablet-width) {
  .features-list__feature-numbers {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .feature-numbers__feature-number {
    margin: 0;
    padding: 42px 46px 46px 46px;
  }

  .feature-number__heading {
    margin: 0;
    margin-bottom: 13px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;

    @include table-heading1();
  }

  .feature-number__number {
    margin-bottom: 19px;
  }

  .feature-number__text {
    margin: 0 auto;
    padding: 0;

    @include table-text();
  }
}


@media (min-width: $desktop-width) {
  .features-list__feature-numbers {
    display: flex;
    flex-direction: row;
    min-height: 254px;
    margin: 0;
    padding: 0;
  }

  .feature-numbers__feature-number {
    margin: 0;
    padding: 42px 80px 46px 80px;
  }

  .feature-number__heading {
    margin: 0 50px 13px 50px;
  }
}

/* -----------------------------заинтересовались и баттон найти гостинницу*/
.page-main__hotel-search {
  margin: 20px 20px 50px 20px;
}

.page-main__heading--search {
  display: block;
  margin-bottom: 18px;
  padding: 1px;
  text-align: center;
  font-size: 20px;
}

.hotel-search__content-text {
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 1.857;
  text-align: center;
}

.button {
  display: block;
  padding: 15px 44px 18px 45px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bolder;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-main__hotel-search {
    margin: 0;
    padding: 46px 156px 58px 155px;
  }

  .page-main__heading--search {
    display: block;
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
    text-align: center;
    font-size: 30px;
  }

  .hotel-search__content-text {
    @include table-text();
    margin: 0;
    margin-bottom: 46px;
    padding: 0;
  }

  .button {
    display: block;
    padding: 15px 133px 18px 133px;
    background-color: #81b3d2;
    font-size: 21px;
    line-height: 1.238;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
  }
}


@media (min-width: $desktop-width) {
  .page-main__hotel-search {
    margin: 0;
    padding: 48px 374px 67px 374px;
    max-width: 460px;
  }

  .hotel-search__content-text {
    margin-bottom: 50px;
  }

  .button {
    padding: 15px 130px 18px 130px;
  }
}

.page-main__map-image {
  width: 100%;
  min-height: 350px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.map-image {
  margin: 0 0 31px 0;
}
