.page-main__img-wrapper--photos-page {
  max-height: 160px;
  min-height: 160px;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

.main-img--photos-page {
  max-width: 100%;
}

.heading--big-photo {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.photos__introduction {
  padding: 0 16px 12px 16px;
}

.introduction {
  margin: 0;
}

.photos-gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photos-gallery__photo {
  box-sizing: border-box;
  width: 100%;
  min-height: 413px;
  padding: 22px 20px 22px 20px;
}

.photo-block {
  margin: 0;
}

.photo-wrapper {
  position: relative;
  min-height: 280px;
  max-width: 280px;
  margin: 0 0 18px 0;
  overflow-y: hidden;
}

.photo-block__img {
  position: absolute;
  width: 100%;
  max-width: none;
}


.photo-block__additional {
  margin: 0;
  padding: 0;
}


.additional__photo-title {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;

  @include photo-heading1-mobile();
}


.additional__photo-author {
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: none;

  @include photo-text-mobile();
}

.additional__photo-likes {
  display: block;
  position: relative;
  margin: 0 0 0 38px;
  padding: 0;

  @include photo-heading1-mobile();
}


.additional__photo-likes::before {
  position: absolute;
  content: url("../img/like-icon.svg");
  background-size: contain;
  width: 32px;
  height: 21px;
  left: -16px;
  top: -10px;
}

.video {
  min-height: 460px;
  margin: 0;
  padding: 32px 0 0 0;
  margin-bottom: 43px;
}

.heading--video {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @include photo-heading2-mobile();
}


.content-text--video {
  box-sizing: border-box;
  padding: 0 34px 0 34px;
  font-size: 14px;
  line-height: 1.65;
}
