@import "node_modules/normalize-scss/sass/_normalize.scss";
@import "global/fonts.scss";
@import "common/variables.scss";
@import "common/mixins.scss";
@import "layout.scss";
@import "blocks/header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/page-main-img.scss";
@import "blocks/intro.scss";
@import "blocks/features-list.scss";
@import "blocks/feature-picture.scss";
@import "blocks/feature-icon.scss";
@import "blocks/feature-numbers.scss";
@import "blocks/page-main__hotel-search.scss";
@import "blocks/footer.scss";
@import "blocks/page-main.scss";
@import "blocks/photos.scss";
@import "blocks/video.scss";
@import "blocks/form.scss";
@import "blocks/review.scss";

